
.body {
    background: #696969;
}

.container {
    width: 80%;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 30px;
}

.form-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCDCDC;
    padding: 12%;
}

#imagem {
    
}