
.container {
    width: 80%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCDCDC;
    padding: 3.85rem;
}

